<?xml version="1.0" encoding="utf-8" ?> 
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler method="Publish" type="SitemapGenerator.Core.Publisher" />
      </event>
    </events>
  </sitecore>
</configuration>